@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Pacifico');

/*fuente*/

.fuente1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.fuente2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}

.fuente3{
  font-family: 'Pacifico', cursive;
}


/*fondos*/

body{
  background: url(../img/fondo.jpg);
  background-size:cover;
  padding: 9px;
}

.fondo{
  background: rgba(255, 255, 255, 0.38);
  padding: 5px;
}

.fondo1{
  background: rgba(0, 0, 0, 0.78);
}

.fondo2{
  background:rgba(38, 38, 38, 0.7);
  border-bottom: 2px solid #ffac03;
}

.fondo3{
  background: rgba(255, 255, 255, 0.77) ;
}

.fondo4{
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.77);
}


.contenedor{
  padding-top: 20px;
}



/*header*/

.titulo{
  font-size: 2em;
  color: #ffac03;
}

.slogan{
  color:white;
}

.side-nav{
  list-style-type:none;
  margin: auto;
  margin-bottom: 10px;
}

.side-nav a{
  color:rgb(255, 255, 255);
}

.buscar{
  border-radius: 10px 0px 0px 10px;
}

.boton{
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(255, 222, 0);
}


/*articulos*/

.articulo{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
 }


 /*comentarios*/

.comentario{
  margin: 7px !important;;
  border: 0.2px solid rgb(191, 191, 191);
  border-radius: 3px;
}

.texto-comentario{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.margin{
  margin-top: 10px;
  margin-left: 20px;
}

.user{
  padding-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}


/*favoritos*/

.favoritos{
  color: #ffac03;
  padding-left: 0px;
}

.borde{
  border: 2px solid white;
}



/*responsive*/


@media (min-width: 720px) {

  .titulo1{
    text-align: right;
  }

  .fuente1{
    font-size: 1.2em;
    text-align: left;
  }

  .fondo{
    background: rgba(255, 255, 255, 0.38);
    margin-left: 150px;
    margin-right: 150px;
  }

  .fondo2{
    border-right: 2px solid #ffac03;
  }



}

@media (min-width:421px)and (max-width: 1023px){

  .borde{
    margin-bottom: 20px;
  }

}
